

.content {
  background: #dfe6ed; 
  overflow: auto;
}

.header-content {
  position: relative;
  justify-content: space-between;
  background-color: rgb(9, 96, 96);
  color: white;
  
}
.header-content ul{
  margin: 5px;
  padding: 0 15px;
}
.header-left, .header-right {
  display: flex;
  align-items: center;
  list-style: none;
  
  margin: 0;
  padding: 0 10px;
  
}

/* .help, .notification, .account .shrink-sidebar{
  display: flex;
  margin: 0; 
} */

.help:hover, 
.notification:hover, 
.account:hover,
.shrink-sidebar:hover{
  background-color:rgba(2, 50, 50, 0.445) ;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
li.help, 
li.notification, 
li.account,
li.shrink-sidebar{
  padding: 0 5px;
}
li.help > a{
  color: white;
}
.header-left i,
.header-right i{
  padding: 0 5px;
  font-size: x-large;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.caret {
  margin-left: 5px;
  transition: transform 0.2s;
}

.account.open .caret {
  transform: rotate(180deg);
}
.shrink-sidebar,
.help,
.notification,
.account
  {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
  padding: 0;
  margin: 0;
}

.help ul li,
.notification ul li,
.account ul li
  {
  align-items: center;
  margin: 0 ;
  padding: 0 ;
  list-style: none;
}


.circle-user {
margin-right: 10px; 
}

.user-account {
display: flex;
flex-direction: column;
}

.user-account a:last-child {
margin-top: 5px; 
}
.user-account a{
  padding: 0;
  font-size: 12px;
  margin: 0 !important;
  
}

/**************************/
.account-menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #ffff;
  border: 1px solid rgba(238, 238, 238, .50);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.account-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.account-menu li {
  display: flex;
  padding: 6px 2px;
  border-bottom: 1px solid rgba(238, 238, 238, .50);
}

.account-menu li a {
  text-decoration: none;
  color: #333;
  display: block;
  
}

.account-menu li:hover {
  background-color: rgb(9, 96, 96);
  color: white;
}

.notification span {
  background-color: red; 
  color: white; 
  padding: 2px 6px; 
  border-radius: 50%;
  font-size: 7px;
  position: absolute;
  top: 1em;


}

/*******************/

.col-flex-xl {
flex-basis: 0;
flex-grow: 1;
max-width: 100%;
}
.btn-display {
padding: 0.8rem 1.2rem;
font-size: 1.09375rem;
line-height: 1.5;
border-radius: 0;
}

a.btn-display > div >i{
font-size: 40px;
align-items: center;
}
a.btn-display >i:before{
align-items: center;
}
.fa-magnifying-glass{
font-size: 20px;
}
.btn-search{
border: none;
}
.row > i.fa-ile-invoice::before{
padding: 0 100%;
}
a.btn-display{
text-decoration: none;
color:#444242
}
.head-tag{
background-color: #edf1f2;
}
.btn > span > i{
padding-top: 4px;
padding-right: 4px;
}

.account ul li i{
  font-size: 12px;
  color: rgb(103, 103, 103);
  align-items: center;
  text-align: center;
  margin: 0 5px;
  padding-top: 6px;
}
.ifSize{
  height: 420px;
  overflow: hidden;
}
.hideme{
  display: none !important;
  
}
.selected-item > i,
.selected-item > span{
  font-weight: bold;
  color: darkcyan !important;
}
.paymentHeader,
.sales-Header{
  background-color:#f8f9fa!important ;
}

.page-display-off{
  display: none;
}
.shortcutBtn{
  background-color: #f6f9fc;
}
[role="presentation"]:hover,
.shortcutBtn:hover{
  background-color: #dfe6ed;
}

.selected{
  background-color: rgb(9, 96, 96);
}
.selected > a {
  color: white !important;
}
div.accord-body > ul{
  margin: 0;
}
.pages-head{
  background-color: #ffff;
}
.data-head{
  background-color: #e4e8ec;
  padding:10px 15px;
}
.data-view{
  background-color: #ffff;
  height: 125px;
}
.page-content{
  padding: 20px !important;
  margin: 20px !important;
}
.data-item{
  padding: 10px;
  margin: 20px;
}
.data-head > .row > .col-6 >  a{
  float: right;
}
.fixed-element {
  position: fixed;
  top: 0; /* Adjust as needed */
  left: 0; /* Adjust as needed */
  width: 100%; /* Adjust as needed */
  background-color: #fff; /* Optional background color */
  z-index: 999; /* Optional z-index to control stacking order */
}
notification > ul > li > i,
.help > ul > li > i,
.account > ul > li:nth-child(1) > i{
  color: white;
  font-size: 30px;
}
/* Apply common styles for shortcut buttons */
.shortcutBtn {
  text-align: center;
  padding: 0;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  transition: transform 0.2s;
  cursor: pointer;
}

.shortcutBtn:hover {
  transform: scale(1.05);
}

/* Define the text color for each shortcut button */
.text-primary {
  color: #007bff;
}

.text-info {
  color: #17a2b8;
}

.text-success {
  color: #27c24c;
}

.text-info {
  color: #598cb3;
}
.shortcutBtn .fa-file-invoice {
  color: #007bff;
}
.shortcutBtn .fa-receipt{
  color: #17a2b8;
}
.shortcutBtn .fa-user-tie{
  color: #27c24c;
}
.shortcutBtn .fa-user-plus{
  color: #598cb3;
}
#report-sales,
#report-payment{
  height: 450px;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.select-items {
  cursor: pointer;
}
.pages-head .btn-default{
  background: #dbe7f3;
  border: 0;
  color: #3a3e63!important;
  transition: all .2s ease-in-out;
}
