* { 
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-o-box-sizing: border-box; 
	box-sizing: border-box; 
}

body { font-family: 'Montserrat', sans-serif; }

a { text-decoration: none; }

.btnMenu {
	display: none;
	padding: 20px;
	display: block;
	background: #1abc9c;
	color: #fff;
}

/* .btnMenu i.fa { float: right; } */

.content-menu {
	width: 100%;
	min-width: 200px;
	display: inline-block;
	line-height: 18px;
}

.content-menu .menu { width: 100%; }

.content-menu ul { list-style: none; }

.content-menu .menu li a {
	color: #494949;
	display: block;
	padding: 15px 20px;
	background: #d8d8d8;
}
.content-menu .menu li a:hover { background: #17b196; color: #fff; } 
/* .content-menu .menu i.fa { 
	font-size: 12px; 
	line-height: 18px; 
	float: right; 
	margin-left: 10px; 
} */

.content-menu .menu ul { display: none; }
.content-menu .menu ul li a {
	background: #424242;
	color: #e9e9e9;
}

.contenedor-menu .menu .active > a {
	background: #16a085;
	color: #fff;
}